/*TODO'S ###################################################### */
/* TODO: Create media queries */
/** ########################################################### **/

/* https://codepen.io/mystbrent/pen/QMVmwz */
/* https://codepen.io/mamta_d/pen/ZEMLRaq */
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");
@import url("https://fonts.cdnfonts.com/css/metropolis-2");
@import url(./meyer_reset.css);

/** -----------------------FONTS----------------------- **/
:root {
    --title-font: "Helvetica Neue", sans-serif;
    --main-font: "Metropolis", sans-serif;
}

/** -----------------------COLORS----------------------- **/
:root {
    /* --bg-color: #2364aa; */
    --bg-color: #67a4e6ef;
    --bg-dark: #063750;
    --accent-color: #90cec8;
    --urgent-color: #ff3c00;
    --daily-color: #fec601;
    --monthly-color: #3bbeff;
}

/** -----------------------GENERAL-STYLING----------------------- **/
body {
    margin: 1.5rem 0;
    background: linear-gradient(
        50deg,
        var(--bg-color) 10%,
        var(--accent-color)
    );
}

header {
    font-family: var(--title-font);
}
main {
    font-family: var(--main-font);
}
label {
    color: white;
    box-shadow: 1px 1px 1px 1px #00000070;
}

.noSelect {
    user-select: none;
}

/** -----------------------TITLE----------------------- **/
div.title {
    text-align: center;
    font-size: 2.2rem;
    font-family: var(--title-font);
    padding: 2rem 0;
    color: #e99b0b;
    border-bottom: 2px solid black;
    background-color: #00000050;

    & h1 {
        position: relative;
        display: inline-block;
        background-color: #254e4e9d;
        border: 2px solid var(--daily-color);
        border-radius: 15px;
        padding: 0.9375rem 1.875rem;
        animation: glow 2s linear infinite;

        &:after {
            position: absolute;
            top: 0.1875rem;
            left: 0.125rem;
            z-index: -1;
            width: 87%;
            content: "MY WHAT TO DO? LIST";
            display: inline-block;
            border: 1px solid var(--daily-color);
            border-radius: 15px;
            padding: 15px 30px;
            animation: glow 3s linear infinite;
        }
    }
}

/** -----------------------HEADER-ADD----------------------- **/
header div.addNew {
    padding: 1.25rem 1.875rem;
    background-color: #063750;
}

#formTop {
    display: flex;
    gap: 0.9375rem;

    & input[type="text"] {
        min-width: 12.5rem;
        width: 35%;
        padding: 0.12rem;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid black;
        box-shadow: 1px 1px 1px 1px black;
        background-color: #00000050;
        color: white;
        &::placeholder {
            font-size: 0.95rem;
            opacity: 0.5;
        }
    }
    & select {
        background-color: #00000000;
        border: none;
        color: white;
        font-size: 1.02rem;
        &:focus {
            background-color: var(--bg-dark);
        }
    }
    & input[type="submit"] {
        margin-left: 3.125rem;
        padding: 0.1875rem 0.9375rem;
        font-size: 1.1rem;
        background-color: var(--bg-dark);
        color: transparent;
        border: none;
    }
}
#plusIcon {
    position: relative;
    top: 0.25rem;
    left: -5.32rem;
    background-color: #00000000;
    color: white;
    font-size: 1.35rem;
    cursor: pointer;
    box-shadow: -1px 1px 3px 0px black;
    &:hover {
        box-shadow: -1.5px 1.5px 3px 0.5px black;
        transform: translate(1px, -1px);
        transition: 0.15s;
    }
    &:active {
        transform: scale(0.95);
        box-shadow: -1px 1px 3px 0px black;
    }
}

/** -----------------------HEADER-FILTER----------------------- **/
header div.filter {
    padding: 0.625rem;
    background-color: var(--accent-color);
}

#formBottom {
    display: flex;
    gap: 0.9375rem;
    & input[type="search"] {
        min-width: 12.5rem;
        width: 35%;
        padding: 0.12rem;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid #333;
        box-shadow: 1px 1px 1px 1px #333;
        background-color: #00000050;
        color: white;

        &::placeholder {
            color: rgba(0, 0, 0, 0.719);
        }
    }

    & select {
        background-color: #00000000;
        border: none;
        color: rgb(0, 0, 0);
        font-size: 1.02rem;
        &:focus {
            background-color: #063750b0;
            color: white;
        }
    }
}

/** --------PRIORITY-CLASSES-------- **/

.urgent {
    color: var(--urgent-color);
    border: 2px solid var(--urgent-color);
}
.daily {
    color: var(--daily-color);
    border: 2px solid var(--daily-color);
}
.monthly {
    color: var(--monthly-color);
    border: 2px solid var(--monthly-color);
}

.wrapper {
    max-width: 75rem;
    margin: 0 auto;

    border-width: 0.32rem;
    border-style: solid;
    border-image: radial-gradient(
            circle,
            rgba(40, 40, 204, 0.623) 70%,
            rgba(2, 17, 15, 0.534) 95%
        )
        1;

    background-color: #00000050;
    box-shadow: 0.5rem 0.5rem 0.625rem 0.3125rem #377771a9;
    user-select: none;
}

/** -----------------------MAIN-TODO'S----------------------- **/
.todoContainer {
    padding: 1.25rem;
    background-color: #2e2e2e50;
}

/* Necessary to position checkboxes */
.check {
    position: relative;

    & label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0.625rem 3.125rem 0.625rem 2.1875rem;
        /* border-bottom: 1px solid #00000050; */
        cursor: pointer;
        font-weight: 600;
    }
}
/** --------REMOVE-TODO-BUTTON-------- **/
.check button {
    width: 9.375rem;
    height: 3.125rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
    & span {
        transition: 200ms;
    }

    & .text {
        transform: translateX(2.1875rem);
        color: white;
        font-weight: bold;
    }
    &:hover .text {
        color: transparent;
    }

    & .icon {
        position: absolute;
        border-left: 1px solid #c41b1b;
        transform: translateX(6.875rem);
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:hover .icon {
        width: 9.375rem;
        border-left: none;
        transform: translateX(0);
    }
    & svg {
        width: 0.9375rem;
        fill: #eee;
    }
    &:hover {
        background: #ff3636;
    }
    &:focus {
        outline: none;
    }

    &:active .icon svg {
        transform: scale(0.8);
    }
}

/** ----------------TODO-DONE-SECTIONS------------------ **/

h2 {
    position: relative;
    margin-left: 0.3125rem;
    padding: 0.625rem 0;
    font-size: 1.2em;
    font-family: var(--title-font);
}

:is(.done, .todo) {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}

.done h2,
.todo h2 {
    color: white;
    font-weight: 700;
}

:is(.done h2, .todo h2):before {
    content: "";
    display: block;
    position: absolute;
    top: 0.625rem;
    bottom: 0.625rem;
    left: -1.25rem;
    width: 0.3125rem;
    background-color: #ffffff;
}

:is(.done h2, .todo h2):after {
    display: block;
    float: right;
    font-weight: normal;
}

input[type="checkbox"] {
    position: absolute;
    top: 0.8125rem;
    left: 0.3125rem;
    opacity: 0;
}

/* Check symbol */
label::before {
    content: "\25A2";
    display: block;
    position: absolute;
    top: 1.35rem;
    left: 0.3125rem;
    font-size: 1.8rem;
}

input[type="checkbox"]:checked + label::before {
    content: "\2714";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    color: #57f55f;
    position: absolute;
    top: 1.1rem;
    left: 0.3125rem;
}
label:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
/** ---------------UNFINISHED------------------------------------------------------------------------------------------------------------------**/
/** ------------------------------------------------------------------------------------------------------------------------------------------ */
/** ----------------------------------------------------------------------------------------------------------------------------------------- */
.submit-button {
    font-size: 1.0625rem;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 0 0.75rem 1rem 0 rgba(0, 0, 0, 0.24);
    background: #2e2e2e;
    border-radius: 0 0.625rem 0.625rem 0;
    transition: 0.3s;
}

.submit-button:hover {
    transition: 0.3s;
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    cursor: pointer;
}

.submit-button:active {
    transform: translate(0em, 0.2em);
}

.submit-button span {
    font-weight: 800;
    letter-spacing: 0.125rem;
    background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

.submit-button:hover span {
    background: #2e2e2e;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

#input-field {
    background-color: #2e2e2e;
    border-radius: 0.625rem 0rem 0rem 0.625rem;
    border: none;
    width: 18.75rem;
    padding-left: 0.5rem;
    color: white;
    font-size: 0.875rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

/** -----------------------ANIMATIONS----------------------- **/
@keyframes glow {
    0% {
        text-shadow: 0.5px 0.5px 2px #57f55f;
        box-shadow: 0px 0px 8px 5px #57f55fde;
    }
    10% {
        text-shadow: 0.5px 0.5px 3px #57f55f;
        box-shadow: 0px 0px 9px 6px #57f55fde;
    }
    20% {
        text-shadow: 0.7px 0.7px 4px #57f55f;
        box-shadow: 0px 0px 10px 7px #57f55fde;
    }
    30% {
        text-shadow: 0.8px 0.8px 5px #57f55f;
        box-shadow: 0px 0px 12px 8px #57f55fde;
    }
    40% {
        text-shadow: 0.9px 0.9px 6px #57f55f;
        box-shadow: 0px 0px 14px 9px #57f55fde;
    }
    50% {
        text-shadow: 1px 1px 8px #57f55f;
        box-shadow: 0px 0px 16px 10px #57f55fde;
    }
    60% {
        text-shadow: 0.9px 0.9px 6px #57f55f;
        box-shadow: 0px 0px 14px 9px #57f55fde;
    }
    70% {
        text-shadow: 0.8px 0.8px 5px #57f55f;
        box-shadow: 0px 0px 12px 8px #57f55fde;
    }
    80% {
        text-shadow: 0.7px 0.7px 4px #57f55f;
        box-shadow: 0px 0px 10px 7px #57f55fde;
    }
    90% {
        text-shadow: 0.5px 0.5px 3px #57f55f;
        box-shadow: 0px 0px 9px 6px #57f55fde;
    }
    100% {
        text-shadow: 0.5px 0.5px 2px #57f55f;
        box-shadow: 0px 0px 8px 5px #57f55fde;
    }
}
