/*TODO'S ###################################################### */
/* TODO: Create media queries */
/** ########################################################### **/

/* https://codepen.io/mystbrent/pen/QMVmwz */
/* https://codepen.io/mamta_d/pen/ZEMLRaq */
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");
@import url("https://fonts.cdnfonts.com/css/metropolis-2");
@import url(./meyer_reset.css);

/** -----------------------FONTS----------------------- **/
:root {
    --title-font: "Helvetica Neue", sans-serif;
    --main-font: "Metropolis", sans-serif;
}

/** -----------------------COLORS----------------------- **/
:root {
    /* --bg-color: #2364aa; */
    --bg-color: #67a4e6ef;
    --bg-dark: #063750;
    --accent-color: #90cec8;
    --urgent-color: #ff6333;
    --daily-color: #fec601;
    --monthly-color: #3bbeff;
}

/** -----------------------GENERAL-STYLING----------------------- **/
body {
    margin: 1.5rem 0;
    background: linear-gradient(
        50deg,
        var(--bg-color) 10%,
        var(--accent-color)
    );
}

header {
    font-family: var(--title-font);
}
main {
    font-family: var(--main-font);
}
label {
    color: white;
    box-shadow: 1px 1px 1px 1px #00000070;
}

.noSelect {
    user-select: none;
}

/** -----------------------TITLE----------------------- **/
div.title {
    text-align: center;
    font-size: 2.2rem;
    font-family: var(--title-font);
    padding: 2rem 0;
    color: #e99b0b;
    border-bottom: 2px solid black;
    background-color: #00000050;

    & h1 {
        position: relative;
        display: inline-block;
        background-color: #254e4e9d;
        border: 2px solid var(--daily-color);
        border-radius: 15px;
        padding: 0.9375rem 1.875rem;
        animation: glow 2s linear infinite;

        &:after {
            position: absolute;
            top: 0.1875rem;
            left: 0.125rem;
            z-index: -1;
            width: 87%;
            content: "MY WHAT TO DO? LIST";
            display: inline-block;
            border: 1px solid var(--daily-color);
            border-radius: 15px;
            padding: 0.9375rem 1.875rem;
            animation: glow 3s linear infinite;
        }
    }
}

/** -----------------------HEADER-ADD----------------------- **/
header div.addNew {
    padding: 1.25rem 1.875rem;
    background-color: #063750;
}

#formTop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#formTop select {
    position: absolute;
    right: 12rem;
    top: 0.5rem;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    background-color: #2e2e2e;
    border: none;
    color: white;
    font-size: 1.02rem;
    &:focus {
        text-shadow: 0.7px 0.7px 1px var(--accent-color);
    }
}

#formTop input[type="text"] {
    width: 85%;
    height: 40px;
    background-color: #2e2e2e;
    border-radius: 0.625rem;
    border: none;
    padding: 0rem 0.15rem 0rem 0.5rem;
    color: white;
    font-size: 0.875rem;
    &::placeholder {
        opacity: 0.35;
    }
}
.submit-button {
    position: relative;
    right: -1rem;
    background: #00000000;
    color: white;
    text-decoration: none;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 3rem;
    transition: 0.2s;

    &:hover {
        letter-spacing: 0.2rem;
        padding: 1.1rem 3.1rem;
        background: #41fa4a85;
        color: var(--daily-color);
        font-weight: 800;
        transition: 0.3s;
        animation: box 3s infinite;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 2px;
        background: #2e2e2e;
    }
    & span {
        position: relative;
        z-index: 1;
    }
    &:active:before {
        background-color: var(--daily-color);
        box-shadow: 0 0 5px 5px #06375041;
    }
    &:active span {
        color: black;
        /* letter-spacing: 0.5rem; */
        transition: 0.15s;
    }
}

/** -----------------------HEADER-FILTER----------------------- **/
header div.filter {
    padding: 0.625rem;
    background-color: var(--accent-color);
}

#filterBottom {
    display: flex;
    gap: 0.9375rem;
    & input[type="search"] {
        width: 80%;
        height: 2.5rem;
        background-color: #00000050;
        border-radius: 0.625rem;
        border: none;
        padding: 0.15rem 0.15rem 0.15rem 0.5rem;
        color: white;
        font-size: 0.875rem;
        &::placeholder {
            opacity: 0.35;
        }
    }

    & select {
        background-color: #00000000;
        border: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: rgb(0, 0, 0);
        font-size: 1.02rem;
        &:focus {
            background-color: #063750b0;
            color: white;
        }
    }
}

/** --------PRIORITY-CLASSES-------- **/

.urgent {
    color: var(--urgent-color);
    border: 2px solid var(--urgent-color);
}
.daily {
    color: var(--daily-color);
    border: 2px solid var(--daily-color);
}
.monthly {
    color: var(--monthly-color);
    border: 2px solid var(--monthly-color);
}

.wrapper {
    max-width: 75rem;
    margin: 0 auto;

    border-width: 0.32rem;
    border-style: solid;
    border-image: radial-gradient(
            circle,
            rgba(40, 40, 204, 0.623) 70%,
            rgba(2, 17, 15, 0.534) 95%
        )
        1;

    background-color: #00000050;
    box-shadow: 0.5rem 0.5rem 0.625rem 0.3125rem #377771a9;
    user-select: none;
}

/** -----------------------MAIN-TODO'S----------------------- **/
.todoContainer {
    padding: 1.25rem;
    background-color: #2e2e2e50;
}

/* Necessary to position checkboxes */
.check {
    position: relative;
    display: flex;
    align-items: center;

    & label {
        display: block;
        align-content: center;
        width: 99%;
        position: relative;
        padding: 1.25rem 1.25rem 1.25rem 2.85rem;
        cursor: pointer;
        font-weight: 600;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
}
/** --------REMOVE-TODO-BUTTON-------- **/
.check button {
    position: absolute;
    right: 0px;
    width: 9.375rem;
    height: 3.76rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 3px #000000c4;
    background: #e62222;

    & span {
        transition: 200ms;
    }

    & .text {
        transform: translateX(2.1875rem);
        color: white;
        font-weight: bold;
    }
    &:hover .text {
        color: transparent;
    }

    & .icon {
        position: absolute;
        border-left: 1px solid #c41b1b;
        transform: translateX(6.875rem);
        height: 2.5rem;
        width: 2.5rem;
        align-content: center;
    }
    &:hover .icon {
        width: 9.375rem;
        border-left: none;
        transform: translateX(-0.2rem);
    }
    & svg {
        width: 0.9375rem;
        fill: #eee;
    }
    &:hover {
        background: #ff3636;
    }
    &:focus {
        outline: none;
    }

    &:active .icon svg {
        transform: scale(0.8);
    }
    & svg,
    path,
    span {
        pointer-events: none;
    }
}

/** ----------------TODO-DONE-SECTIONS------------------ **/

h2 {
    position: relative;
    margin-left: 0.3125rem;
    padding: 0.625rem 0;
    font-size: 1.2em;
    font-family: var(--title-font);
}

:is(.done, .todo) {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}
.done {
    margin-top: 1.25rem;
}

.done h2,
.todo h2 {
    color: white;
    font-weight: 700;
}

:is(.done h2, .todo h2):before {
    content: "";
    display: block;
    position: absolute;
    top: 0.625rem;
    bottom: 0.625rem;
    left: -1.25rem;
    width: 0.3125rem;
    background-color: #ffffff;
}

:is(.done h2, .todo h2):after {
    display: block;
    float: right;
    font-weight: normal;
}

input[type="checkbox"] {
    position: absolute;
    top: 1.25rem;
    left: 0.6rem;
    opacity: 0;
    transform: scale(2.5);
    z-index: 1;
}

/* Check symbol */
label:before {
    content: "\25A2";
    display: block;
    position: absolute;
    top: 1rem;
    left: 0.3125rem;
    font-size: 1.8rem;
}

input[type="checkbox"].showCheckmark + label:before {
    content: "\2714";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    color: #57f55f;
    position: absolute;
    top: 0.9rem;
    left: 0.7rem;
}
.showCheckmark + label {
    color: black;
    text-decoration: line-through;
    text-decoration-color: grey;
}

.todoContainer label {
    background-color: #00000030;
    &:hover {
        background-color: #00000050;
    }
}

/** -----------------------ANIMATIONS----------------------- **/
@keyframes glow {
    0% {
        text-shadow: 0.5px 0.5px 2px #57f55f;
        box-shadow: 0px 0px 8px 5px #57f55fde;
    }
    10% {
        text-shadow: 0.5px 0.5px 3px #57f55f;
        box-shadow: 0px 0px 9px 6px #57f55fde;
    }
    20% {
        text-shadow: 0.7px 0.7px 4px #57f55f;
        box-shadow: 0px 0px 10px 7px #57f55fde;
    }
    30% {
        text-shadow: 0.8px 0.8px 5px #57f55f;
        box-shadow: 0px 0px 12px 8px #57f55fde;
    }
    40% {
        text-shadow: 0.9px 0.9px 6px #57f55f;
        box-shadow: 0px 0px 14px 9px #57f55fde;
    }
    50% {
        text-shadow: 1px 1px 8px #57f55f;
        box-shadow: 0px 0px 16px 10px #57f55fde;
    }
    60% {
        text-shadow: 0.9px 0.9px 6px #57f55f;
        box-shadow: 0px 0px 14px 9px #57f55fde;
    }
    70% {
        text-shadow: 0.8px 0.8px 5px #57f55f;
        box-shadow: 0px 0px 12px 8px #57f55fde;
    }
    80% {
        text-shadow: 0.7px 0.7px 4px #57f55f;
        box-shadow: 0px 0px 10px 7px #57f55fde;
    }
    90% {
        text-shadow: 0.5px 0.5px 3px #57f55f;
        box-shadow: 0px 0px 9px 6px #57f55fde;
    }
    100% {
        text-shadow: 0.5px 0.5px 2px #57f55f;
        box-shadow: 0px 0px 8px 5px #57f55fde;
    }
}

@keyframes box {
    0% {
        box-shadow: 0px 0px 8px 5px #57f55fde;
    }
    10% {
        box-shadow: 0px 0px 9px 6px #57f55fde;
    }
    20% {
        box-shadow: 0px 0px 10px 7px #57f55fde;
    }
    30% {
        box-shadow: 0px 0px 12px 8px #57f55fde;
    }
    40% {
        box-shadow: 0px 0px 14px 9px #57f55fde;
    }
    50% {
        box-shadow: 0px 0px 16px 10px #57f55fde;
    }
    60% {
        box-shadow: 0px 0px 14px 9px #57f55fde;
    }
    70% {
        box-shadow: 0px 0px 12px 8px #57f55fde;
    }
    80% {
        box-shadow: 0px 0px 10px 7px #57f55fde;
    }
    90% {
        box-shadow: 0px 0px 9px 6px #57f55fde;
    }
    100% {
        box-shadow: 0px 0px 8px 5px #57f55fde;
    }
    /* 0% {
        box-shadow: #57f55fde;
    }
    50% {
        box-shadow: 0 0 20px 2px #57f55fde;
    }
    100% {
        box-shadow: #57f55fde;
    } */
}
